body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("dancers/ViridianCity.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .moveStuff{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer, .chansey{
  position:absolute;
}

.rotate {
  -webkit-animation: rotate 2s infinite 0s;
}

@-webkit-keyframes rotate {
  50% { -webkit-transform: rotate(360deg);}
}

.jump {
  -webkit-animation: jump 0.3s infinite 0s;
}

@-webkit-keyframes jump {
  50% { -webkit-transform: translateY(-20px);}
}
